<head>
  @{
    ViewData["Title"] = "Ahorcado - Juego";
  }
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <section class="pizarron">
    <div><h2>Palabra:</h2>
    @{

      string palabra = string.Join(" ", ViewBag.palabraActual);

    }
    <h3>@palabra</h3>
    <h2>Vidas restantes: @ViewBag.intentosRestante </h2>
    <h2>Letras incorrectas: </h2>
    @{
      string letrasInc = string.Join(" - ", ViewBag.letrasFallidas);
    }
    <h3>@letrasInc</h3>

    <img class="hangman" src="/img/@ViewBag.fotoAhorcado" alt="foto ahorcado">
    </div>
  </section>
  <div>
    <form action='@Url.Action("arriesgarLetra")' method="get">
      <input type="text" name="letraNueva" placeholder="Ingresá una letra..." required maxlength="1">
      <input type="Submit" value="Enviar">
    </form>

    <form action='@Url.Action("arriesgarPalabra")' method="get">
      <input type="Text" name="palabra" placeholder="Escribí la palabra..." required>
      <input type="Submit" value="Enviar">
    </form>
  </div>
</body>
